.car {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: -6.2rem;
    @include movil {
        margin-top: -3rem;
    }
    img {
        width: 50%;
        height: 50%;
        z-index: 1;
        @include movil {
            width: 100%;
            height: 100%;
        }
        @include tablet {
            width: 90%;
            height: 90%;
        }
    }
}