.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    gap: 1rem;

    p {
        font-size: 11px;
        letter-spacing: 5px;
        color: $white;
        font-weight: 400;
        text-transform: uppercase;
    }

    h3 {
        @include lineTitle;
    }

    h2 {
        font-size: 112px;
        letter-spacing: -3px;
        color: #ffffff;
        font-weight: 900;
        font-style: italic;
        font-family: $playfair;

        @include movil {
            font-size: 50px;
            letter-spacing: 0;
        }
    }
}