* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $lato;
    list-style: none;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
body {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 5rem;
    background: linear-gradient(-22deg, $red 50%, $blue 50%);
    @include movil {
    background: linear-gradient($blue 50%, $red 50%);
    }
}