//Media querys 
@mixin movil {
    @media (max-width: #{$movil}) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}
@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin gridColumns($columns) {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin lineTitle {
    display: inline-block;
    position: relative;
    color: $black;
    font-size: 14px;
    letter-spacing: .2rem;
    font-family: 700;
    text-transform: uppercase;
    margin-bottom: .755rem;
    @include movil {
        font-size: 12px;
    }
    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 5rem;
        height: .10rem;
        background: currentColor;
        top: .7em;
        @include movil {
            content: none;
        }
    }

    &::after {
        left: -6.25rem;
    }

    &::before {
        right: -6.25rem;
    }
}