//Media querys 
@mixin movil {
    @media (max-width: #{$movil}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}


@mixin gridColumns($columns) {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat($columns, 1fr);

    @include movil {
        gap: .3rem;
    }
}

@mixin lineTitle {
    display: inline-block;
    position: relative;
    color: $black;
    font-size: 14px;
    letter-spacing: .2rem;
    font-family: 700;
    text-transform: uppercase;
    margin-bottom: .755rem;

    @include movil {
        font-size: 12px;
    }

    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 5rem;
        height: .10rem;
        background: currentColor;
        top: .7em;

        @include movil {
            content: none;
        }
    }

    &::after {
        left: -6.25rem;
    }

    &::before {
        right: -6.25rem;
    }
}

@mixin titleForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    text-align: center;

    @include movil {
        margin-top: 1.5rem;
    }

    h2 {
        @include lineTitle;
        font-size: 48px;
        font-family: $playfair;
        color: $red;
        text-transform: unset;
        font-style: italic;
        margin: 0;

        @include tablet {
            font-size: 40px;
        }

        &::after,
        &::before {
            width: 12rem;
            top: .75em;

            @include tablet {
                width: 5rem;
            }
        }

        &::after {
            left: -12.8rem;

            @include tablet {
                left: -6.5rem;
            }
        }

        &::before {
            right: -12.8rem;

            @include tablet {
                right: -6.5rem;
            }
        }

        @include movil {
            font-size: 30px;
        }
    }

    p {
        font-size: 11px;
        letter-spacing: 5px;
        color: $black;
        font-weight: 400;
        text-transform: uppercase;

        @include movil {
            font-size: 9.5px;
        }
    }
}

@mixin styleInputSelect {
    border: 1px solid $red;
    padding: .5rem;
    color: $black;
    font-weight: 700;
    outline: none;
    background: transparent;
}

@mixin styleLabel {
    font-size: 12px;
    letter-spacing: 2px;
    color: $gray;
    font-weight: 400;
    text-transform: uppercase;
}

@mixin buttons {
    @include gridColumns(3);
    gap: 0;

    @include movil {
        gap: 0;
    }

    a {
        border: 1px solid $red;
        padding: 1rem 4rem;
        font-size: 12px;
        color: $gray_black;
        font-weight: 900;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;

        @include movil {
            padding: 1rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        &.active {
            background: $red;
            color: $white;
        }
    }
}