//colors
$blue: #4957d1;
$red: #ff0000;
$white: #ffffff;
$menu: #cd2f32;
$gray: #808080;
$gray_black: #333333;
$black: #000000;

//fuente
$lato:  'Lato', sans-serif;
$playfair: 'Playfair Display', serif;

//Media querys
$movil: 767px;
$tablet: 768px;